.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.done {
  text-decoration: line-through;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 0.5;
}

.header {
  font-weight: bold
}

.inline {
  display: inline; 
}

.search-input { 
  width: 50%;
  margin-top: 20px;
}

.my-container {
  width: 50%
}

.list-container {
  margin: 20px auto;
}

p {
  text-align: left
}