.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto
}

.hidden {
    visibility: hidden;
    height: 0px; 
    width: 0px
}

.fitContainer {
    max-width: 100%;
    max-height: 100%
}